{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>
<p>Welcome to prognosisresearch.com</p>
<p>aiming to improve prognosis research in healthcare</p>
<p>This website serves as a companion to the book “Prognosis Research in Healthcare: Concepts, Methods and Impact” published by Oxford University Press.</p>
<a href="https://global.oup.com/academic/product/prognosis-research-in-healthcare-9780198796619?cc=gb&lang=en&" target="_blank">
    <img src="{{ MEDIA_URL }}prognosis_research_book.jpg" alt="prognosis research book">
</a>
<p>Released in September 2020, the website aims to provide:</p>
<ul>
    <li><strong>entry-level information</strong> for those interested in prognosis research methods and good practice</li>
    <li>a <strong>framework</strong> to help you plan, carry out and evaluate prognosis research in healthcare</li>
    <li><strong>guidance</strong> on prognosis research methods, including links to key papers and presentations</li>
    <li><strong>videos</strong> of recent talks & webinars from experts in the field, covering emerging topics, methods and controversies</li>
    <li>a catalogue of <strong>latest research articles</strong>, to help researchers keep up-to-date with new methodology</li>
    <li>links to <strong>training courses, summer schools</strong> and <strong>conferences</strong> in prognosis and prediction research </li>
</ul>
<p>
    Our drive to improve prognosis research stems from the PROGRESS (PROGnosis RESearch Strategy) partnership. 
    This group was formed in 2010 by Prof Richard Riley, Prof Harry Hemingway, and Prof Doug Altman.
</p>
<p>PROGRESS brought together a group of healthcare professionals, researchers and journal editors to develop a coherent framework for prognosis research. </p>
<p>An introductory video can be found <a href="#">here</a>.</p>
<p>Key outputs of PROGRESS include:</p>
<ul>
    <li>the <strong>PROGRESS framework</strong> for prognosis research, published in four linked papers in 2013 in the BMJ and PLOS Medicine covering: overall prognosis (PDF); prognostic factors (PDF); prognostic models (PDF); and predictors of treatment effect (PDF).</li>
    <li>published recommendations for improving transparency in prognosis research (PDF)</li>
    <li>our International Summer School: <strong>Prognosis Research in Healthcare</strong> which runs every year at Keele University, UK </li>
    <li>our training course: <strong>Statistical Methods for Risk Prediction and Prognostic Models</strong>, which runs twice per year at Keele University, UK.</li>
    <li>our textbook: <strong>Prognosis Research in Healthcare: concepts, methods and impact</strong>, with Oxford University Press</li>
</ul>
<p>On this website, we disseminate the PROGRESS framework and good methodology standards, along with new and emerging methodology outputs, to encourage better prognosis research in practice.</p>
<p></p>
<p></p>


<strong><a href="{% url 'whats_new' %}">Whats New?</a></strong><br/>
<a href="{% url 'latest_research' %}">Research</a><br/>
<a href="{% url 'site_updates_log' %}">Site Updates</a><br/>
<strong><a href="{% url 'prognosis' %}">Prognosis Research</a></strong><br/>
<a href="{% url 'video_introduction' %}">video intro</a><br/>
<a href="{% url 'what_is_prognosis' %}">what is prognosis</a><br/>
<a href="{% url 'what_is_prognosis_research' %}">what is prognosis research</a><br/>
<a href="{% url 'the_progress_framework' %}">the progress framework</a><br/>
<a href="{% url 'quotes_of_note' %}">quotes of note</a><br/>
<strong><a href="{% url 'our_book' %}">our book</a></strong><br/>
<a href="{% url 'scope_and_aims' %}">scope & aims</a><br/>
<a href="{% url 'table_of_contents' %}">table of contents</a><br/>
<a href="{% url 'about_the_editors' %}">about the editors</a><br/>
<strong><a href="{% url 'methods_guidance' %}">methods guidance</a></strong><br/>
<a href="{% url 'progress_series' %}">progress series</a><br/>
<a href="{% url 'prognostic_factors' %}">prognostic factors</a><br/>
<a href="{% url 'prognostic_models' %}">prognostic models</a><br/>
<a href="{% url 'systematic_reviews_and_meta_analysis' %}">systematic reviews and meta analysis</a><br/>
<a href="{% url 'reporting' %}">reporting</a><br/>
<a href="{% url 'software_websites_and_apps' %}">software websites and apps</a><br/>
<a href="{% url 'textbooks' %}">textbooks</a><br/>
<strong><a href="{% url 'videos' %}">videos</a></strong><br/>
<a href="{% url 'sample_size_for_prediction_modeling' %}">sample size for prediction modeling</a><br/>
<a href="{% url 'penalisation_and_shrinkage' %}">penalisation and shrinkage</a><br/>
<a href="{% url 'reporting_and_quality' %}">reporting and quality</a><br/>
<a href="{% url 'covid19_prediction_models' %}">covid19 prediction models</a><br/>
<a href="{% url 'controversies_in_prediction_modeling' %}">controversies in prediction modeling</a><br/>
<a href="{% url 'emerging_topics_in_prediction_modeling' %}">emerging topics in prediction modeling</a><br/>
<a href="{% url 'ipd_meta_analysis' %}">IPD meta-analysis</a><br/>
<a href="{% url 'systematic_reviews' %}">systematic reviews</a><br/>
<strong><a href="{% url 'courses_and_events' %}">courses and events</a></strong><br/>
<a href="{% url 'training_courses' %}">training courses</a><br/>
<a href="{% url 'conferences' %}">conferences</a><br/>
<strong><a href="{% url 'contact' %}">contact</a></strong><br/>
{% endblock %}