{% extends 'base.html' %}
{% block content %}
    <h1>Prognostic Factor Research</h1>
    <h4>Sample size guidance</h4>
    <ul>
        <li>A simple method of sample size calculation for linear and logistic regression (<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/%28SICI%291097-0258%2819980730%2917%3A14%3C1623%3A%3AAID-SIM871%3E3.0.CO%3B2-S" target="_blank">PDF</a>)</li>
        <li>Sample size considerations for the evaluation of prognostic factors in survival analysis (<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/%28SICI%291097-0258%2820000229%2919%3A4%3C441%3A%3AAID-SIM349%3E3.0.CO%3B2-N" target="_blank">PDF</a>)</li>
    </ul>
    <h4>Overviews</h4>
    <ul>
        <li>Prognostic markers in cancer: the evolution of evidence from single studies to meta-analysis, and beyond (<a href="https://www.nature.com/articles/6604999" target="_blank">PDF</a>)</li>
        <li>Evidence-Based Assessment and Application of Prognostic Markers: The Long Way from Single Studies to Meta-Analysis (<a href="https://www.tandfonline.com/doi/abs/10.1080/03610920600629666" target="_blank">PDF</a>)</li>
        <li>Prognostic Factors - Confusion caused by bad quality of design, analysis and reporting of many studies (<a href="https://www.karger.com/Article/Abstract/82508" target="_blank">PDF</a>)</li>
        <li>Prognostic Factor Studies (<a href="https://www.routledge.com/Handbook-of-Statistics-in-Clinical-Oncology/Crowley-Hoering/p/book/9781138199491" target="_blank">PDF</a>)</li>
    </ul>
    <h4>Analysis guidance</h4>
    <ul>
        <li>Statistical aspects of prognostic factor studies in oncology (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1969431/" target="_blank">PDF</a>)</li>
        <li>Dangers of Using “Optimal” Cutpoints in the Evaluation of Prognostic Factors (<a href="https://academic.oup.com/jnci/article/86/11/829/955201" target="_blank">PDF</a>)</li>
        <li>Dichotomizing continuous predictors in multiple regression: a bad idea (<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/sim.2331" target="_blank">PDF</a>)</li>
        <li>The use of fractional polynomials to model continuous risk variables in epidemiology (<a href="https://academic.oup.com/ije/article/28/5/964/724296" target="_blank">PDF</a>)</li>
    </ul>
{% endblock %}