{% extends 'base.html' %}
{% block content %}
    <h1>The PROGRESS Series</h1>
    <ul>
        <li>Overall prognosis (<a href="https://www.bmj.com/content/bmj/346/bmj.e5595.full.pdf" target="_blank">PDF</a>)</li>
        <li>Prognostic factors (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li>Prognostic models (<a href="https://journals.plos.org/plosmedicine/article/file?id=10.1371/journal.pmed.1001381&type=printable" target="_blank">PDF</a>)</li>
        <li>Predictors of treatment effect (<a href="https://www.bmj.com/content/bmj/346/bmj.e5793.full.pdf" target="_blank">PDF</a>)</li>
        <li>Transparency in prognosis research (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4086727/pdf/pmed.1001671.pdf" target="_blank">PDF</a>)</li>
    </ul>
    <p>
        See also our <a href="{% url 'video_introduction' %}">video introduction</a> to the PROGRESS framework
    </p>
{% endblock %}