{% extends 'base.html' %}
{% block content %}
    <h1>Reporting Guidance</h1>
    <h6>Prognostic Factors</h6>
    <ul>
        <li><strong>REMARK:</strong> Reporting Recommendations for Tumor Marker Prognostic Studies (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
    </ul>
    <h6>Prognostic Models</h6>
    <ul>
        <li><strong>TRIPOD:</strong> Transparent Reporting of a multivariable prediction model for Individual Prognosis Or Diagnosis 
            (<a href="https://annals.org/aim/fullarticle/2088549/transparent-reporting-multivariable-prediction-model-individual-prognosis-diagnosis-tripod-tripod" target="_blank">PDF</a> 
            &  <a href="https://annals.org/aim/fullarticle/2088542/transparent-reporting-multivariable-prediction-model-individual-prognosis-diagnosis-tripod-explanation" target="_blank">explanation</a>)</li>
    </ul>
    <p>VIDEO discussing reporting in prediction model research and the TRIPOD guidelines is available <a href="https://www.prognosisresearch.com/reporting-quality" target="_blank">here</a></p>
{% endblock %}