{% extends 'base.html' %}
{% block content %}
    <h1>Systematic Reviews and Meta-Analysis</h1>
    <ul>
        <li>The <strong>Cochrane Prognosis Methods Group</strong></li>
    </ul>
    
    <p class="mb-0"><strong>Systematic review guidance and tools:</strong></p>
    <ul>
        <li>A guide to systematic reviews and meta-analysis of prediction model performance (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li>A guide to systematic reviews and meta-analysis of prognostic factor studies (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li><strong>CHARMS:</strong> Checklist for Critical Appraisal and Data Extraction for Systematic Reviews of prediction modelling studies (<a href="https://journals.plos.org/plosmedicine/article/file?id=10.1371/journal.pmed.1001744&type=printable" target="_blank">PDF</a>)</li>
        <li><strong>CHARMS-PF:</strong> Checklist for Critical Appraisal and Data Extraction for Systematic Reviews of prognostic factor studies (<a href="https://www.bmj.com/content/bmj/364/bmj.k4597.full.pdf" target="_blank">PDF</a>)</li>
        <li><strong>PROBAST:</strong> A Tool to Assess the Risk of Bias and Applicability of Prediction Model Studies (<a href="https://annals.org/aim/fullarticle/2719961/probast-tool-assess-risk-bias-applicability-prediction-model-studies" target="_blank">PDF</a> & <a href="https://annals.org/aim/fullarticle/2719962/probast-tool-assess-risk-bias-applicability-prediction-model-studies-explanation" target="_blank">explanation document</a>)</li>
        <li>Use of GRADE for the assessment of evidence about prognostic factors: rating certainty in ... (<a href="https://www.jclinepi.com/article/S0895-4356(19)30873-X/fulltext" target="_blank">PDF</a>)</li>
        <li>Evidence synthesis in prognosis research (<a href="https://diagnprognres.biomedcentral.com/articles/10.1186/s41512-019-0059-4" target="_blank">PDF</a>)</li>
    </ul>
    ​​
    <p class="mb-0"><strong>Meta-analysis to develop and validate prognostic models:</strong></p>
    <ul>
        <li>External validation of clinical prediction models using big datasets from e-health records or IPD meta-analysis (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li>A framework for meta-analysis of prediction model studies with binary and time-to-event outcomes (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li>A framework for developing, implementing, and evaluating clinical prediction models in an IPD meta-analysis (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li>Assessment of heterogeneity in an IPD meta-analysis of prediction models (<a href="#" target="_blank"><strong class="text-red">PDF NO LINK</strong></a>)</li>
        <li>Assessing risk prediction models using individual participant data from multiple studies (<a href="https://academic.oup.com/aje/article/179/5/621/143564" target="_blank">PDF</a>)</li>
        <li>IPD Meta-analyses of Diagnostic and Prognostic Modeling Studies: Guidance on Their Use (<a href="https://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1001886" target="_blank">PDF</a>)</li>
        <li>Random‐effects meta‐analysis of the clinical utility of tests and prediction models (<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/sim.7653" target="_blank">PDF</a>)</li>
    </ul>

    <p class="mb-0"><strong>Meta-analysis to examine predictors of treatment effect:</strong></p>
    <ul>
        <li>IPD meta‐analysis to examine interactions between treatment effect and participant‐level covariates (<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/sim.8516" target="_blank">PDF</a>)</li>
        <li>Meta-analytical methods to identify who benefits most from treatments: daft, deluded, or deft approach? (<a href="https://www.bmj.com/content/356/bmj.j573" target="_blank">PDF</a>)</li>
        <li>Simulation-based power calculations for planning a two-stage IPD meta-analysis (<a href="https://bmcmedresmethodol.biomedcentral.com/articles/10.1186/s12874-018-0492-z" target="_blank">PDF</a>)</li>
        <li>One‐stage IPD meta‐analysis models: estimation of treatment‐covariate interactions must avoid ecological bias ... (<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/sim.7171" target="_blank">PDF</a>)</li>
    </ul>
{% endblock %}