{% extends 'base.html' %}
{% block content %}
    <h1>Recommended Textbooks</h1>
    {% for textbook in textbooks %}
        <h5>{{ textbook.name }}</h5>
        <a href="{{ textbook.image_link }}" target="_blank"><img src="{{ textbook.image.url }}" alt="{{ textbook.name }}"></a>
        <p>{{ textbook.description }}</p>
        {% if textbook.optional_link %}
            <p><a href="{{ textbook.optional_link }}">{% if textbook.optional_link_text %}{{ textbook.optional_link_text }}{% else %}Link{% endif %}</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}