{% extends 'base.html' %}
{% block content %}
    <h1>The PROGRESS Framework</h1>
    <p>
        The <strong>PROGRESS (PROGnosis RESearch Strategy) framework</strong> classifies prognosis research into four main types of study:
    </p>
    <ol type="1">
        <li>
            <a href="https://www.bmj.com/content/bmj/346/bmj.e5595.full.pdf" target="_blank">Overall prognosis research:</a> Studies that summarise the average risk of an outcome (e.g. death) or expected value of an 
            outcome (e.g. pain score) among people with the health condition of interest in a particular healthcare setting.
        </li>
        <li>
            <a href="https://journals.plos.org/plosmedicine/article/file?id=10.1371/journal.pmed.1001380&type=printable" target="_blank">Prognostic factor research:</a> Studies that identify factors whose values (levels) are associated with changes in the 
            outcome's risk or expected value.
        </li>
        <li>
            <a href="https://journals.plos.org/plosmedicine/article/file?id=10.1371/journal.pmed.1001381&type=printable" target="_blank">Prognostic model research:</a> Studies that develop, validate or assess the impact of a prognostic model to predict an individual’s 
            outcome risk or expected outcome value using combinations of prognostic factors.
        </li>
        <li>
            <a href="https://www.bmj.com/content/bmj/346/bmj.e5793.full.pdf" target="_blank">Predictors of treatment effect research:</a> Studies that identify how to tailor treatment decisions for individual patients 
            according to whether they are likely to benefit from particular treatments.  
        </li>
    </ol>
    <h2>
        Why is the PROGRESS framework important?
    </h2>
    <p>
        Prior to publication of the PROGRESS framework, commentators had identified the lack of a clear framework for prognosis research, as highlighted by 
        inconsistent terminology, muddled concepts, and poor standards of design, analysis and reporting. This was making the prognosis field notorious for 
        issues such as small studies, publication bias and lack of replication of previous findings. To emphasise the potential impact and importance of 
        prognosis research, Chapter 2 of our <a href="{% url 'textbooks' %}">textbook</a> illustrates the logic of the four study types with the example of 
        research into the prognosis of women diagnosed with breast cancer.
    </p>
    <p>
        Researching <strong>overall prognosis</strong> provides estimates of the average survival of women diagnosed with breast cancer in a particular 
        population, time and healthcare context. It answers questions such as: “In the context of current care, what proportion of women with this 
        condition are expected to be alive at 5 years after diagnosis?”. This enables an understanding of the burden of disease, with comparisons across 
        settings (e.g. regions, hospitals, countries), and over time to examine improvements.
    </p>
    <p>
        Researching <strong>prognostic factors</strong> focuses on whether particular characteristics of the cancer, the women, their treatment and the 
        healthcare system,  are associated with changes in individual outcome risk (e.g. 5-year survival). Prognostic factors help refine prognosis to 
        subgroups of individuals that share the same characteristics, and factors may even identify potential targets for intervention to improve survival. 
        It is important to examine whether novel prognostic factors (e.g. biomarkers) actually add prognostic value over and above standard prognostic 
        variables (e.g. age, stage of disease). Prognostic factors are also important for the design and analysis of randomised trials of interventions, 
        and as adjustment for confounding in observational studies examining treatment effects.
    </p>
    <p>
        <strong>Prognostic model</strong> research involves the development, validation and impact assessment of models that use multiple prognostic 
        factors in combination to tailor outcome prediction to individuals. Such models can be used in everyday practice to help shared decision-making 
        about care - for example, the <a href="http://www.predict.nhs.uk/predict_v2.0.html" target="_blank">PREDICT model</a> uses nine factors (age; diagnosis; tumour size, spread, and severity; three biomarkers; therapy) to 
        calculate an individual’s 5-year post-surgery survival probability.
    </p>
    <p>
        Research investigating <strong>predictors of treatment effect</strong> aims to identify whether subgroups based on individual characteristics 
        (e.g. age, blood pressure, biomarker values) can predict who will and will not benefit from a particular treatment. A study of this type showed 
        that oestrogen receptor status predicted response to treatment with tamoxifen in women with breast cancer (PDF), a finding used to target 
        therapy at women who will benefit.
    </p>
    <p>
        The PROGRESS framework outlined many areas where the design, conduct and reporting of prognosis research studies must be improved, for each of 
        the four types. <strong>Please visit our <a href="{% url 'methods_guidance' %}">guidance</a> for further details.</strong>
    </p>
{% endblock %}