{% extends 'base.html' %}
{% block content %}
    <h1>What is Prognosis Research?</h1>
    <p>
        <strong>Prognosis research is the study of future outcomes among people with a particular health condition.</strong>
    </p>
    <p>
        It aims to summarise, understand and predict outcomes in order to improve future health of individuals and populations.
    </p>
    <p>
        It focuses on outcomes relevant or important to the individual, their family, or healthcare and society as a whole. 
        Such outcomes include death, recovery, recurrence, disability, treatment side-effects, quality of life, and capacity 
        to work. They are typically continuous, binary, multinomial, or time-to-event; and may be of interest for short 
        (hours, weeks) or long (months, years, life-time) periods.
    </p>
    <p>
        <strong>The PROGRESS framework</strong> outlines four types of prognosis research studies:
    </p>
    <ul>
        <li>overall prognosis</li>
        <li>prognostic factors</li>
        <li>prognostic models</li>
        <li>predictors of treatment effect.</li>
    </ul>
    <p>
        <stong>More details <a href="{% url 'the_progress_framework' %}">here.</a></stong>
    </p>
{% endblock %}